.hero-header {
  background-color: var(--pink);
  min-height: 300px;
}

.inner-wrap {
  max-width: 900px;
  display: flex;
  padding: var(--medium);
  padding-bottom: 0;
  margin: auto;
  div,
  picture {
    display: inline-block;
  }

  div {
    width: calc(100% - calc(var(--medium) * 2));
    left: var(--medium);
    top: var(--nav-height);
    width: 70%;
    flex-grow: 1;
    color: #fff;
    h1 {
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }
  }

  picture {
    width: 25%;
    min-height: 300px;
    margin-left: auto;
    display: none;
    img {
      object-position: bottom;
    }

    @media screen and (min-width: 410px) {
      display: inline-block;
    }
  }
}

.cta {
  color: #fff;
  background-color: var(--primary);
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
}
