.hero-header {
  background-color: var(--pink);
  min-height: 300px;
  padding-bottom: var(--nav-height);
}

.inner-wrap {
  max-width: 900px;
  display: flex;
  padding: var(--medium);
  padding-bottom: 0;
  margin: auto;
  flex-wrap: wrap;

  div {
    display: inline-block;
  }

  div {
    width: 50%;
    flex-grow: 1;
    color: #fff;
    flex-basis: 300px;
    padding: var(--medium);
    h1 {
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }
  }

  picture {
    padding: var(--medium);
    width: 50%;
    min-height: 300px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img {
      object-position: bottom;
    }

    @media screen and (min-width: 410px) {
      display: inline-block;
    }
  }
}

.cta {
  color: #fff;
  background-color: var(--primary);
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
}
