.wrapper {
}
.input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  > div {
    flex-grow: 1;
    margin: 0 8px;
    width: calc(50% - 16px);
    align-self: flex-end;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  > button {
    margin: 0 auto;
    min-width: 150px;
    font-size: 1rem;
    font-weight: 900;
    margin-top: 24px;
  }
}
