.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: var(--large) auto;
  > div {
    width: 50%;
    flex-basis: 350px;
    flex-grow: 1;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
