.anchor {
  color: inherit;
  &:active,
  &:visited {
    color: inherit;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
