.wrapper {
  display: flex;
  flex-wrap: wrap;
  > span {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 8px;
    color: var(--dark);
    font-weight: 100;
  }
  > div {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;

    &:first-of-type input {
      border-radius: 8px 0 0 8px;
      border-right-width: 0.5px;
    }
    &:nth-of-type(2) select {
      border-radius: 0;
      border-left-width: 0.5px;
      border-right-width: 0.5px;
    }
    &:nth-of-type(3) select {
      border-left-width: 0.5px;
      border-radius: 0 8px 8px 0;
    }
  }
}
