.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 100;
}

.select {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--grey);
  outline-color: var(--pink);
  appearance: none;
  color: var(--dark);

  &:focus {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }
  &[data-valid="false"] {
    border-color: red;
  }
}
