.wrapper {
  max-width: 100%;
  padding: 0;
}

.slides-wrapper {
  overflow: hidden;
  max-width: 100%;
}
.slides-inner {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
}

.slide-wrapper {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  height: 200px;
}

.slide-inner {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
