:root {
  --off-black: #333333;
  --blue: #7481aa;
  --purple: #8674aa;
  --lavender: #a6b8f3;
  --light-purple: #cda5f3;
  --pink: #dba5f3;
  --off-white-blue: #f3f6ff;
  --off-white-pink: #faf6fe;
  --yellow: #fcea10;
}
