@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: bold;
  font-weight: 900;
}
@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Light.ttf") format("truetype");
  font-display: swap;
  font-style: light;
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-LightItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-BoldItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Qwitcher;
  src: url("/assets/fonts/QwitcherGrypen-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: bold;
  font-weight: 100;
}
@font-face {
  font-family: Qwitcher;
  src: url("/assets/fonts/QwitcherGrypen-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
